<div class="card">
    <div class="card-header">{{status}}</div>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/register" class="btn btn-primary">Book Now!</a>
    </div>
</div>