<div class="header-wrapper">
  <img src="img/logo.png" height="50px">

  <div class="navigation">
    <ul class="nav-list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
          <a href="/register">Register</a>
        </li>
        <li>
          <a href="/admin">Admin</a>
        </li>
    </ul>
  </div>

</div>

