<div class="header-wrapper">
  <img src="img/logo.svg" height="40px">

  <div class="navigation">
    <ul class="nav-list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
          <a href="/register">Register</a>
      </li>
      <li>
        <a href="/admin">Admin</a>
      </li>
      <li class="float right">
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div>

</div>

