<div class="card border-light mb-3">
  <div class="card-header">About This App</div>
  <div class="card-body">
    <h5 class="card-title">Hotel.Me | Hotel Booking System</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card border-light mb-3">
  <div class="card-header">NPM Packages</div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>