<div id="about" class="row-container">
    <div class="row">
        <div class="card border-light mb-3">
            <div class="card-header">About This App</div>
            <div class="card-body">
                <h5 class="card-title">Hotel.Me | Hotel Booking System</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card border-light mb-3">
            <div class="card-header">NPM Packages</div>
            <div class="card-body">
                <h5 class="card-title">Dependencies</h5>
                <li class="card-text">bcrypt: version 4.0.1</li>
                <li class="card-text">body-parser: version 1.19.0</li>
                <li class="card-text">connect-flash: version 0.1.1</li>
                <li class="card-text">connect-mongo: version 3.2.0</li>
                <li class="card-text">cookie-parser: version 1.4.5</li>
                <li class="card-text">dotenv: version 8.2.0</li>
                <li class="card-text">express: version 4.17.1</li>
                <li class="card-text">express-handlebars: version 4.0.0</li>
                <li class="card-text">express-session: version 1.17.0</li>
                <li class="card-text">express-validator: version 6.4.1</li>
                <li class="card-text">handlebars: version 4.7.3</li>
                <li class="card-text">moment: version 5.9.6</li>
                <li class="card-text">mongoose: version 5.9.6</li>
            </div>
            <h5 class="card-title">Dev. Dependencies</h5>
            <li class="card-text">nodemon: version 2.0.3</li>
        </div>
    </div>
</div>