<div class="row-container admin-manage-user">
    <div class="col-sm-12">

        <h4>{{title}}</h4>
        <div class="additional-nav-items">
            <ul class="nav-list">
                <li>
                    <a href="/adminmanagebooking" role="button" class="btn btn-primary">Manage Bookings</a>
                </li>
                <li>
                    <a href="/adminmanageuser" role="button" class="btn btn-primary">Manage Users</a>
                </li>
                <li>
                    <input class="form-control" type="text" placeholder="Enter User Name" aria-label="Search" id="adminSearchUsername" name="adminSearchUsername">
                    <button class="btn btn-primary" id="adminSearchUser">Search</button>
                </li>
                <li>
                    <input class="form-control" type="text" placeholder="Enter User Name" aria-label="Search" id="adminDeleteUsername" name="adminDeleteUsername">
                    <button class="btn btn-primary" id="adminDeleteUser">Delete</button>
                </li>
            </ul>
        </div>

        <div id="user-list">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                    </tr>
                </thead>
                {{#if users}}
                    <!-- loop through lists -->
                    {{#each users}}
                    <tbody id="user-table-body">
                        <td>{{ name }}</td>
                        <td>{{ email }}</td>
                    </tbody>
                    {{/each}}
                {{else}}
                <td>No users yet</td>
                {{/if}}
            </table>
        </div>

    </div>
</div>