<div class="row-container login">

  <!-- SEARCH -->
  <div class="col-sm-12">
    
    <!-- REGISTER FORM -->
    <div class="form-div">
        <form action="/login" method="POST">
            <table>
                <tr>
                    <td>
                        <h4>{{title}}</h4>
                        {{> messages}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="email" type="email" placeholder="Email Address">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="password" type="password" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary form-button" type="submit">Login</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Don't have an account yet? <a href="/register">Register</a></p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
  </div>
</div>
