<div id="login" class="row-container">
  <form class="form-div" action="/login" method="POST">
      <div class="row">
        <div class="col s12">
          <h4>{{title}}</h4>
        </div>
      </div>
      {{> messages}}
      <div class="row">
        <div class="col s12">
          <input placeholder="Email Address" type="email" id="email" name="email" />
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <input placeholder="Password" type="password" id="password" name="password" />
        </div>
      </div>

      <div class="row text-center">
        <div class="col s12">
          <button class="btn btn-primary form-button">Login</button>
        </div>
      </div>

      <div class="row text-center">
        <div class="col s12">
          <p>Don't have an account yet? <a href="/register">Register</a>.</p>
        </div>
      </div>
  </form>
</div>
