<div class="row-container register">
  <div class="col-sm-12">
    <!-- REGISTER FORM -->
    <div class="form-div">
        <form action="/usermanagebooking" method="POST">
            <table>
                <tr>
                    <td>
                        <h4><b>{{title}}</b></h4>
                        <p>{{> messages}}</p>
                    </td>
                </tr>
                <tr>
                    <td><input class="name" id="name" name="name" type="text" placeholder="Firstname Lastname"></td>
                </tr>
                <tr>
                    <td><input class="email" id="email" type="email" placeholder="Email Address"></td>
                </tr>
                <tr>
                    <td><input class="password" id="password" type="password" placeholder="Password"></td>
                </tr>
                <tr>
                    <td><input class="confirmPass" id="confirmPass" type="password" placeholder="Confirm Password"></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary form-button" id="register">Register</button></td>
                </tr>
                <tr>
                    <td><p>Already have an account? <a href="/login">Login</a></p></td>
                </tr>
            </table>
        </form>
    </div>
  </div>
</div>
