<div class="row-container search">

  <!-- SEARCH -->
  <div class="col-sm-12">
    <div class="heading">
        <h4>{{ title }}</h4>
        <a href='usersearchbooking' class="btn btn-primary">Back</a>
        <a href='usermanagebooking' class="btn btn-primary">Back to Dashboard</a>
    </div>

  </div>
</div>
