<div class="row-container user-manage-booking">
    <div class="col-sm-12">
        <h4>{{title}}</h4>

        <ul class="nav-list float-center">
            <li>
                <button class="btn btn-primary" id="userShowAllBooking">Show All Bookings</button>
            </li>
            <li>
                <a href='usersearchbooking' class="btn btn-primary" id="userSearchBooking">Create Booking</a>
            </li>
            <li>
                <input class="form-control" type="text" placeholder="Enter Booking ID" aria-label="Search" id="userSearchID" name="userSearchID">
                <button class="btn btn-primary" id="userSearchBooking">Search</button>
            </li>
            <li>
                <input class="form-control" type="text" placeholder="Enter Booking ID" aria-label="Search" id="userDeleteID" name="userDeleteID">
                <button class="btn btn-primary" id="userDeleteBooking">Delete</button>
            </li>
        </ul>

        <div id="booking-list">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Hotel Name</th>
                        <th>Check-In</th>
                        <th>Check-Out</th>
                        <th>Capacity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                {{#if bookings}}
                    <!-- loop through lists -->
                    {{#each bookings}}
                <tbody id="user-bookings-table-body">
                </tbody>
                {{/each}}
                {{else}}
                <td>No bookings yet</td>
                {{/if}}
            </table>
        </div>
        
    </div>
</div>