<div class="row admin-manage-booking">
    <div class="col-sm-12">

        <div class="additional-nav-items">
            <ul class="nav-list float-right">
                <li>
                    <a href="/adminmanagebooking" role="button" class="btn btn-primary">Manage Bookings</a>
                </li>
                <li>
                    <a href="/adminmanageuser" role="button" class="btn btn-primary">Manage Users</a>
                </li>
                <li>
                    <a href="/" role="button" class="btn btn-primary">Logout</a>
                </li>
            </ul>
        </div>

        <h4>{{title}}</h4>
        <ul class="nav-list float-center">
            <li>
                <button class="btn btn-primary" id="showAllBookings">Show All Bookings</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Edit Booking</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                    </div>
                </div>
                </div>
            </li>
        </ul>

        <div id="booking-list">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Hotel Name</th>
                        <th>User</th>
                        <th>Check-In</th>
                        <th>Check-Out</th>
                        <th>Capacity</th>
                        <th>Status</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id="booking-table-body">
                </tbody>
            </table>
        </div>

    </div>
</div>