<div class="row admin">
  <!-- SEARCH -->
  <div class="col-sm-12">
    
    <!-- REGISTER FORM -->
    <div class="form-div">
        <form action="/adminmanagebooking">
            <table>
                <tr>
                    <td>
                        <h4>{{title}}</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="username" type="text" placeholder="Username">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="password" type="password" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary form-button" type="submit">Login</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
  </div>
</div>
