<div class="row register">
  <div class="col-sm-12">
    <!-- REGISTER FORM -->
    <div class="form-div">
        <form action="/usermanagebooking">
            <table>
                <tr>
                    <td><h4>{{title}}</h4></td>
                </tr>
                <tr>
                    <td><input class="firstname" id="firstname" name="firstname" type="text" placeholder="First Name"></td>
                </tr>
                <tr>
                    <td><input class="lastname" id="lastname" type="text" placeholder="Last Name"></td>
                </tr>
                <tr>
                    <td><input class="email" id="email" type="email" placeholder="Email Address"></td>
                </tr>
                <tr>
                    <td><input class="password" id="password" type="password" placeholder="Password"></td>
                </tr>
                <tr>
                    <td><input class="confirm-password" id="repassword" type="password" placeholder="Retype Password"></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary form-button" id="register" type="submit">Register</button></td>
                </tr>
                <tr>
                    <td><p>Already have an account? <a href="/login">Login</a></p></td>
                </tr>
            </table>
        </form>
    </div>
  </div>
</div>
